@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import "tailwindcss";

@layer base {
  :root {
    --font-display: "Bricolage Grotesque", sans-serif;
    --color-bluecelest: #0F172A;
  }

  body {
    font-family: var(--font-display);
    overflow-x: hidden;
    background-color: var(--color-bluecelest);
  }
  html {
    scroll-behavior: smooth;
  }
}

.reveal{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 3.0s ease, transform 3.0s ease;
}

.reveal.visible{
  opacity: 1;
  transform: translateY(0);
}